body {
  background-color: #444;
  color:#fff;
  font-family: Arial;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    background: #181818;
    color: #EBECED;
    transition: all 0.3s;
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

#sidebar .sidebar-header {
  padding: 20px 10px;
  background: #DC3545;
}

#sidebar .sidebar-header h1 {
  font-weight: bold;
  display: block;
  color: #fff;
  text-shadow: 2px 2px #181818;
}

#sidebar ul li {
  list-style: none;
  float: left;
  margin: 10px;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  background: #ff003b;
  border-radius: 50%;
  font-size: 25px;
  position: relative;
  transition: .5s ease-in-out;
  color: #262626;
  z-index: 1;
}

#sidebar ul li:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: .5s ease-in-out;
  z-index: -1;
}

#sidebar ul li:hover:before {
  transform: scale(1);
}

#sidebar ul li:hover {
  color: #ff003b;
}

#sidebar ul li i {
  color: #fff;
}

#sidebar ul li:hover i {
  color: #ff003b;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li:hover {
  cursor: pointer;
}

#sidebar ul li.router-link-active {
  background: #fff;
}

#sidebar ul li.router-link-active i {
  color: #ff003b;
}

#content {
  padding: 20px;
  min-height: 100vh;
  width: 100%;
}

.red {
  color: red;
}

.centered {
  margin-top: 5%;
}

.profile-image {
  width: 100%;
}

.header-text {
  font-size: 5vw;
  text-align: left;
  font-weight: bold;
}

.sub-text {
  text-align: left;
  font-size: 1.3vw;
  color: gray;
  margin-bottom: 25px;
}

.highlight {
  font-size: 20vw;
  font-weight: bold;
  color: #DC3545;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-left: 20%;
}

.highlight-red {
  color: #DC3545;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.center-row {
  height: 90%;
  align-items: center;
  margin-left: 10%;
  cursor: default;
}

.center-row .btn {
  font-size: 1.3vw;
  cursor: pointer;
}

.column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 300px;
  max-height: 300px;
  text-align: center;
}

.logo img {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

.logo:hover img {
  opacity: .3;
}

.logo:hover .logo-text {
  display: block;
  opacity: 1 !important;
}

.logo-text {
  display: none;
  position: relative;
  top: -50%;
  transform: translateY(-50%);
  margin: 20px;
  text-shadow: 1px 1px #181818;
}

.btn-danger:hover {
  border: 1px solid white;
}


.center-page {
  font-size: 4vw;
  position: absolute;
  top: 40%;
  left: 30%;
}